.header {
  background-color: $color-grey-dark-1;
  grid-column: full-start / full-end;
  background-image: linear-gradient(
      rgba($color-secondary, 0.7),
      rgba($color-secondary, 0.7)
    ),
    url(../img/hero-3.webp);
  background-size: cover;
  background-position: center;
  padding: 8rem;
  padding-top: 4rem;

  display: grid;
  grid-template-rows: 1fr min-content 6rem 1fr;
  grid-template-columns: max-content;
  row-gap: 1.5rem;
  justify-content: center;

  &__logo {
    height: 5rem;
    // justify-self: center;
    // display: block;
  }

  &__btn {
    align-self: start;
    justify-self: start;
  }

  &__seeon-text {
    display: flex;

    align-items: flex-end;
    font-size: 1.6rem;
    color: $color-grey-light-2;

    &::before,
    &::after {
      content: "";
      height: 1px;
      display: block;
      background-color: currentColor;
    }
  }

  &__seeon-logos {
    display: flex;
    justify-content: flex-start;

    img {
      height: 2.5rem;
    }
  }
}
